/* ==================================================
   CANELA CONDENSED
================================================== */

@font-face {
  font-family: "Canela Condensed";
  src: url("@/assets/fonts/CanelaCondensed-Bold-Trial.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ==================================================
   GEIST
================================================== */

@font-face {
  font-family: "Geist";
  src: url("@/assets/fonts/Geist-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("@/assets/fonts/Geist-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* ==================================================
   NOTO KUFI ARABIC
================================================== */

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("@/assets/fonts/Noto Kufi Arabic-500.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("@/assets/fonts/Noto Kufi Arabic-600.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("@/assets/fonts/Noto Kufi Arabic-800.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Kufi Arabic";
  src: url("@/assets/fonts/Noto Kufi Arabic-900.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ==================================================
   NOTO SANS ARABIC
================================================== */

@font-face {
  font-family: "Noto Sans Arabic";
  src: url("@/assets/fonts/Noto Sans Arabic-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
